// set variables
@font-opensan-bold : 'opensan-bold';
@font-opensan-regular : 'opensan-regular';
@font-caveatbrush : 'caveat-brush';
@color-green: #7ebf3a;
@color-white: #fff;
@color-pink: #ec2f67;
@color-red: #ff3e02;
@color-grey: #5e5e5e;
@font-size143: 143px;
@font-size56: 56px;
@font-size36: 36px;
@font-size24: 24px;
@font-size20: 20px;