// add slick
// @import 'slick/slick-theme.less';
// @import 'slick/slick.less';
@import '_styleguide.less';

& when (@media-common = true) {

    li {
        list-style: none;
    }

    .page-header ul li a {
        font-family: @font-opensan-bold;
        color: #44525f;
        font-size: 13px;
        letter-spacing: 0.35px;
    }

}

//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .footer{
        background-color: #3e3b42;

        display: flex;

        height: 950px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 80px;
       .footer-col1{
           width: 457px;
            .footer-col1-item1{
               h3{
                color: #ff3e02;
                font-size: 24px;
                font-weight: 700;
                font-family: "Open Sans";
                word-spacing: -5px;
               }
               ul{
                    margin-top: 29px;
                    list-style: noen;
                    padding: 0px;
                    li{
                        margin: 0 0 8px 0;
                        a{
                            font-size: 21px;
                            word-spacing: 5px;
                            color: #f4f4f4;
                            font-weight: 400;
                            font-family: "Open Sans";
                        }
                    }
               }
            }
            .footer-col1-item2{
               margin-top: 96px;
                h3{
                    color: #ff3e02;
                    font-size: 24px;
                    font-weight: 700;
                    font-family: "Open Sans";
                    word-spacing: -3px;
                }
                p{
                    padding-top: 22px;
                    margin-left: -2px;
                }
            }
            
        }
        .footer-col2{
            width: 395px;
            h3{
                color: #ff3e02;
                font-size: 24px;
                font-weight: 700;
                font-family: "Open Sans";
            }
            ul{
                list-style: none;
                padding: 0px;
                margin-top: 32px;
                li{
                    margin: 0 0 9px 0;
                    line-height: 28.5px;
                    font-size: 20px;
                    a{
                        word-spacing: 1px;
                        font-size: 22px;
                        color: #f4f4f4;
                        font-weight: 400;
                        font-family: "Open Sans";
                    }
                }
            }
            .footer-col2-item2{
                margin-top: 87px;
                ul{
                    margin-top: -16px;
                    display: flex;
                    li{
                        
                    }
                }
            }
        }
        .footer-col3{
            width: 468px;
            h3{
                color: #ff3e02;
                font-size: 24px;
                font-weight: 700;
                font-family: "Open Sans";
            }
            ul{
                list-style: none;
                padding: 0px;
                margin-top: 20px;
                li{
                    margin: 0 0 9px 0;
                    line-height: 28.5px;
                    font-size: 20px;
                    a{
                        word-spacing: 1px;
                        font-size: 22px;
                        color: #f4f4f4;
                        font-weight: 400;
                        font-family: "Open Sans";
                    }
                }
            }
            .footer-col3-item2{
                margin-top: 120px;
                a{
                    margin-top: 121px;
                    margin-left: -45px;
                }
                p{
                    color:#efefef;
                    font-size: 19px;
                    margin-left: -136px;
                    margin-top: 31px;
                }
            }
        }
        .footer-col4{
            width: 315px;
            h3{
                color: #ff3e02;
                font-size: 24px;
                font-weight: 700;
                font-family: "Open Sans";
            }
            ul{
                list-style: none;
                padding: 0px;
                margin-top: 31px;
                li{
                    margin: 0 0 9px 0;
                    line-height: 28.5px;
                    font-size: 20px;
                    p{
                        word-spacing: 1px;
                        font-size: 22px;
                        color: #f4f4f4;
                        font-weight: 400;
                        font-family: "Open Sans";
                    }
                }
            }
            .footer-col4-item2{
                margin-top: 50px;
                height: 72px;
            }
            .footer-col4-item3{
                margin-top: 28px;
                h5{
                    font-weight: 700;
                    color: #f4f4f4;
                    font-family: "Open Sans";
                    word-spacing: 1px;
                    font-size: 19px;
                }
                ul{
                    list-style: none;
                    padding: 0px;
                    margin-top: -8px;
                    li{
                        margin: 0 0 9px 0;
                        line-height: 28.5px;
                        font-size: 20px;
                        p{
                            word-spacing: 1px;
                            font-size: 22px;
                            color: #f4f4f4;
                            font-weight: 400;
                            font-family: "Open Sans";
                        }
                    }
                }
            }
            .footer-col4-item4{
                ul{
                    margin-top: 50px;
                }
            }
        }
    }   
    .header.content {
        padding: 0 0;
        max-width: 100%;
        display: flex;
    }

    .page-header .panel.wrapper {
            border: none;
    }

    .header.panel>.header.links {
        float: left;
        padding: 10px 0 0 305px;

        li {
            margin: 0 0 0 45px;
        }

        li:last-child {
            padding-left: 5px;
        }
    }

    .logo {
        margin: -37px 0 0 72px;
    }

    .block-search {
        width: 650px;
        margin-left: 360px;
        padding: 0 0;
        margin-top: 2px;

        .control {
            padding: 0 0;

            input {
                width: 650px;
                height: 50px;
            }
        }

        .action.search {
            right: 0;
            background: #45515d;
            height: 50px;
            width: 75px;
            border-radius: unset;

            &:before {
                font-size: 36px;
                color: #fff;
            }
        }
    }

    .nav-sections-item-content {
        background-color: #fff;
        margin: -26px 0 0 175px;

        .navigation {
            background-color: #fff;
        }
    }

    .navigation .level0 {
        margin: 0 24px 0 0;

        .level-top {
            font-size: 18px;
            color: #45515d;
            letter-spacing: 0.5px;
            padding: 0 0;
        }
    }

    .title-header {
        width: 100%;
        background-color: #e2e0e1;
        margin-top: 4px;
        height: 40px;
        line-height: 40px;

        &-content {
            width: 92.6%;
            height: 100%;
            margin: 0 auto;

            ul {
                padding: 0 0;
                display: flex;
            }
        }
    }

    .title-header-content>ul>li {
        display: flex;
        padding-right: 295px;

        &:last-child {
            padding-right: 0;
        }

        img {
            max-height: 50%;
            padding-top: 8px;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    // .block-search {
    //     width: 450px;
    //     margin-left: 208px;

    //     input {
    //         width: 450px;
    //     }

    // }
}