// add slick
// @import 'slick/slick-theme.less';
// @import 'slick/slick.less';
@import '_styleguide.less';

& when (@media-common = true) {

    li {
        list-style: none;
    }

    .page-header ul li a {
        font-family: @font-opensan-bold;
        color: #44525f;
        font-size: 13px;
        letter-spacing: 0.35px;
    }

}

//
//  Desktop (style-l.css)
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .header.content {
        padding: 0 0;
        max-width: 100%;
        display: flex;
    }

    .page-header .panel.wrapper {
            border: none;
    }

    .header.panel>.header.links {
        float: left;
        padding: 10px 0 0 305px;

        li {
            margin: 0 0 0 45px;
        }

        li:last-child {
            padding-left: 5px;
        }
    }

    .logo {
        margin: -37px 0 0 72px;
    }

    .block-search {
        width: 650px;
        margin-left: 360px;
        padding: 0 0;
        margin-top: 2px;

        .control {
            padding: 0 0;

            input {
                width: 650px;
                height: 50px;
            }
        }

        .action.search {
            right: 0;
            background: #45515d;
            height: 50px;
            width: 75px;
            border-radius: unset;

            &:before {
                font-size: 36px;
                color: #fff;
            }
        }
    }

    .nav-sections-item-content {
        background-color: #fff;
        margin: -26px 0 0 175px;

        .navigation {
            background-color: #fff;
        }
    }

    .navigation .level0 {
        margin: 0 24px 0 0;

        .level-top {
            font-size: 18px;
            color: #45515d;
            letter-spacing: 0.5px;
            padding: 0 0;
        }
    }

    .title-header {
        width: 100%;
        background-color: #e2e0e1;
        margin-top: 4px;
        height: 40px;
        line-height: 40px;

        &-content {
            width: 92.6%;
            height: 100%;
            margin: 0 auto;

            ul {
                padding: 0 0;
                display: flex;
            }
        }
    }

    .title-header-content>ul>li {
        display: flex;
        padding-right: 295px;

        &:last-child {
            padding-right: 0;
        }

        img {
            max-height: 50%;
            padding-top: 8px;
        }
    }

}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    // .block-search {
    //     width: 450px;
    //     margin-left: 208px;

    //     input {
    //         width: 450px;
    //     }

    // }
}